<div class="center jumbotron">
<h1>Aplicación en Rails utilizando MVC y Bootstrap</h1>
<h2>Proyecto de Infraestructura de Desarrollo Web
Se encuentra el código del proyecto en <a href="https://github.com/Alegreman/appRoRBasica">
repositorio de Github.
</h2>

<%= link_to image_tag("tec.png", alt: "tec logo"), 'http://www.tepic.tecnm.mx/' %>